<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vishal || Jayant</title>
  {% load static %}
  <!-- You can include global CSS or JS files here -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="bg-light text-dark">

  <!-- Navbar -->
  {% include "hospital/navbar.html" %}

  <!-- Page Content -->
  <main>
    {% block content %}
    {% endblock content %}
  </main>

  <!-- Footer -->
  {% include "hospital/footer.html" %}

</body>
</html>
