<form method="post">
  {% csrf_token %}
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <!-- top section -->
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <td class="title">
                <h1>Vishal Multispeciality Hospital</h1>
              </td>
              <td>
                Admit Date: {{admitDate}}<br>
                Release Date: {{todayDate}}<br>
                Days Spent: {{day}}
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- patient & doctor info -->
      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                Patient Name : {{name}}<br>
                Patient Mobile : {{mobile}}<br>
                Patient Address : {{address}}<br>
              </td>
              <td>
                Doctor Name : {{assignedDoctorName}}<br>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- disease & symptoms -->
      <tr class="heading">
        <td>Disease and Symptoms</td>
        <td></td>
      </tr>
      <tr class="details">
        <td colspan="2">{{symptoms}}</td>
      </tr>

      <!-- billing inputs -->
      <tr class="heading">
        <td>Item</td>
        <td>Price</td>
      </tr>
      <tr class="item">
        <td>Room Charge (Per Day)</td>
        <td><input type="number" name="roomCharge" placeholder="In Rupees" value=""></td>
      </tr>
      <tr class="item">
        <td>Doctor Fee</td>
        <td><input type="number" name="doctorFee" placeholder="In Rupees" value=""></td>
      </tr>
      <tr class="item">
        <td>Medicine Cost</td>
        <td><input type="number" name="medicineCost" placeholder="In Rupees" value=""></td>
      </tr>
      <tr class="item last">
        <td>Other Charge</td>
        <td><input type="number" name="OtherCharge" placeholder="In Rupees" value=""></td>
      </tr>
      <tr class="total">
        <td></td>
        <td><input type="submit" name="submit" value="Generate Bill"></td>
      </tr>
    </table>
  </div>
</form>
